@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://images.alphacoders.com/104/1046632.jpg');
    background-size: cover;
}
/* Layout */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* General */
.container-bg{
    background-color: rgba(0, 0, 0, 0.7);
}
.comic-details{
    color: white;
    h3, strong{
        color: darkgray;
    }
}
.autors{
    align-self: flex-end;
}
.autors, .artists, .writers{
    display: flex;
    strong{
        margin-right: 10px;
    }
    p{
        font-size: 12px;
        margin-top: 5px;
    }
}
.writers{
    margin-left: 15px;
}
form, h2{
    color: white;
}
/* Utilities */
.h-100vh{
    height: 100vh;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}